{% extends "base.html" %}

{% block title %}Wtee{% end %}
{% block description %}web tee{% end %}

{% block body %}
<div id="action-show-settings">
    <a class="icon" title="Show Settings" style='background-image: url("{{root}}assets/cog.svg"), none;'></a>
</div>

<div id="configuration">
    <form>
        <p>
            <label for="history-lines">Scrollback lines:</label>
            <input type="number" name="history-lines" id="history-lines", min="0", value="2000">
        </p>
        <p>
            <label for="wrap-lines">Wrap lines:</label>
            <input type="checkbox" name="wrap-lines" id="wrap-lines" checked>
        </p>
        <p>
            <label for="hide-escape-codes">Hide ANSI escape sequences:</label>
            <input type="checkbox" name="hide-escape-codes" id="hide-escape-codes" checked>
        </p>
        <p>
            <label for="enable-colors">Enable ANSI colors:</label>
            <input type="checkbox" name="enable-colors" id="enable-colors" checked>
        </p>
    </form>
</div>

<div class="scrollable">
    <div id="logviewer" class="log-view"></div>
</div>
{% end %}
