//----------------------------------------------------------------------------
// Fonts
//----------------------------------------------------------------------------
$ttfonts: (
  "Consolas",
  "Menlo",
  "Monaco",
  "Lucida Console",
  "Liberation Mono",
  "DejaVu Sans Mono",
  "Bitstream Vera Sans Mono",
  "Courier New",
  "monospace",
  "serif"
);

$tailon-logview-font-size: 13px;

//----------------------------------------------------------------------------
// Colors
//----------------------------------------------------------------------------
$tailon-logview-background-color: #1d1f21;
$tailon-logview-text-color: #c5c8c6;

$tailon-logview-notice-background-color: #FF974F;
$tailon-logview-notice-color: #1d1f21;

$tailon-logview-current-line-background-color: #282a2e;

$tailon-toolbar-background-color: #282a2e;
$tailon-toolbar-input-background-color: #373b41;

$color-black: #2E3436;
$color-red: #CC0000;
$color-green: #4E9A06;
$color-yellow: #C4A000;
$color-blue: #3465A4;
$color-magenta: #75507B;
$color-cyan: #06989A;
$color-white: #D3D7CF;

$color-light-black: #555753;
$color-light-red: #EF2929;
$color-light-green: #8AE234;
$color-light-yellow: #FCE94F;
$color-light-blue: #729FCF;
$color-light-magenta: #AD7FA8;
$color-light-cyan: #34E2E2;
$color-light-white: #EEEEEC;

$color-dark-black: #383A37;
$color-dark-red: #9F1B1B;
$color-dark-green: #5C9722;
$color-dark-yellow: #A89B34;
$color-dark-blue: #4C6A8A;
$color-dark-magenta: #735470;
$color-dark-cyan: #229797;
$color-dark-white: #9F9E8F;
